## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num_entero=6
print(num_entero)

6

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
CONST_DOUBLE=8.5
print(type(CONST_DOUBLE))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre='Florencia'

5) Crear una variable que contenga un número complejo

In [5]:
num_complejo=7+6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(num_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
import math

num_pi=round(math.pi, 4 )
print(num_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
#No se trata de lo mismo ya que una es de tipo boolean y otra str
mi_cadena='True'
mi_booleano=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(mi_cadena))
print(type(mi_booleano))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
mi_variable_sum=3+4.4

11) Realizar una operación de suma de números complejos

In [11]:
num_complejo1=5+6j
num_complejo2=8.2+2j
print(num_complejo1+num_complejo2)

(13.2+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
print(44+5+84j)

(49+84j)

13) Realizar una operación de multiplicación

In [15]:
4*5

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
2**8

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
cociente_int=27//4
print(cociente_int)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
mi_numero=4
resultado=mi_numero*cociente_int+resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
mi_var_alfanum1='hola '
mi_var_alfanum2='como estas'
mi_var_alfanum1+mi_var_alfanum2

'hola como estas'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
print(type('2')==type(2)) 
#tipo str es distinto a int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
print(type('2')==type(str(2)))
print(type(int('2'))==type(2))

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [35]:
#porque dentro dentro de la funcion float se esta escribiendo un string que no puede convertirse a float
a=float('3,8') #si fuera un punto si se puede cambiar
type(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [37]:
b=3
b-=1
print(b)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1<<2  #1 ----> 0001 
      #dos corrimientos a la izq 0100  ----->4 en decimal

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
#no se puede sumar un numero con un string
2+'2'
#si los dos operandos serian numericos no hay problema
2+int('2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
mi_entero=4
mi_string="python "
print(mi_string*mi_entero)

python python python python